<!DOCTYPE html>
<html>
<head>
    <title>Spotify Liked Songs Manager</title>
</head>
<body>
    <h1>Spotify Liked Songs Manager</h1>
    <a href="{% url 'save_liked_songs' %}"><button>Save Liked Songs</button></a>
    <a href="{% url 'create_playlist' %}"><button>Create Playlist with Saved Liked Songs</button></a>
    <a href="{% url 'list_playlists' %}"><button>List Available Playlists</button></a>
    <a href="{% url 'search_account' %}"><button>Search for an Account</button></a>
</body>
</html>


